html {
  font-size: 62.5%;
}

body {
  @include font(16);
  background: #646464;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Sans", "ヒラギノ角ゴシック", sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}